@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

@theme {
  --color-Red: hsl(14, 86%, 42%);
  --color-Green: hsl(159, 69%, 38%);

  --color-Rose-50: hsl(20, 50%, 98%);
  --color-Rose-100: hsl(13, 31%, 94%);
  --color-Rose-300: hsl(14, 25%, 72%);
  --color-Rose-400: hsl(7, 20%, 60%);
  --color-Rose-500: hsl(12, 20%, 44%);
  --color-Rose-900: hsl(14, 65%, 9%);
}

@layer base {
  body {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
  }

  button,
  input {
    font: inherit;
  }

  img {
    display: block;
    max-width: 100%;
  }
}